.page_title {
    font-size: 22px;
}

.btn-address {
    top: 3px;
    right: 0;
}

.btn-address .btn-edit-addr {
    height: 35px;
    width: 35px;
}

.btn-address .btn-edit-addr svg {
    fill: #fff;
}

.btn-address .btn-edit-addr.btn-dark-address svg {
    fill: #999;
    transition: all 0.15s;
}

.border-shadow {
    box-shadow: 0px 0px 3px #d7d7d7;
}

.btn-add-addr {
    width: auto;
}

.btn-add-addr svg {
    vertical-align: -3px;
    margin-right: 10px;
    fill: #fff;
}

.btn-edit-addr.btn-dark-address:hover {
    background: #d0d0d0;
    border-color: #d0d0d0;
}

.btn-edit-addr.btn-dark-address:hover svg {
    fill: #000;
}

.total_order {
    background: #ff0018;
    font-size: 13px;
    min-width: 20px;
    min-height: 20px;
    color: #fff;
    border-radius: 13px;
    top: -20px;
    left: 50%;
}

select#Gender option {
    color: #000;
}

.registered-users {
    max-width: 600px;
}

.m--1 {
    margin-left: -0.25rem !important;
    margin-right: -0.25rem !important;
}

.item_order {
    transition: all 0.5s;
}

.item_order:hover {
    border-color: var(--menuHover) !important;
    box-shadow: 0px 0px 7px -2px var(--menuHover);
}

.item_order a {
    color: #515151;
}

@media (max-width: 375px) {
    .item_order a {
        font-size: 14px;
    }
}

.item_order a .status_order .t {
    color: var(--menuHover);
}

@media (max-width: 566px) {
    .item_order a .status_order {
        font-size: 14px;
    }
}

@media (max-width: 335px) {
    .item_order a .status_order {
        font-size: 13px;
    }
}

@media (max-width: 566px) {
    .item_order a .addr_order {
        font-size: 15px;
    }
}

@media (max-width: 335px) {
    .item_order a .addr_order {
        font-size: 14px;
    }
}

.item_order .time_order {
    font-size: 14px;
}

@media (max-width: 566px) {
    .item_order .time_order {
        font-size: 13px;
    }
}

.item_order img {
    max-height: 70px;
}

.item_order .title_order:hover {
    color: var(--menuHover);
}

.price {
    color: #f00;
}

.i_sup {
    font-size: 14px;
}

.i_main {
    text-transform: capitalize;
}

.account-action .active {
    color: var(--mainColor);
}

.account-action .active svg {
    fill: var(--mainColor);
}

#my-orders-table thead th,
#order_details thead th {
    background-color: var(--mainColor);
    color: #fff;
    vertical-align: middle;
}

.error {
    color: red;
}

.whites {
    color: #fff;
}

.whites a {
    color: #fff;
}

.whites a:hover {
    color: var(--menuHover);
}

button {
    outline: none !important;
}

.form-error {
    border-radius: 20px;
}

.mew-control {
    width: 100%;
    outline: none;
    padding: 8.5px 20px;
    letter-spacing: 1px;
}

.mew-control.btn_login {
    width: 200px;
    max-width: 100%;
}

.mew-control.max_width {
    max-width: 130px;
}

.mew-control option {
    color: #222;
}

.account-action .b_item img {
    max-width: 23px;
}

.account-action .item_ac svg {
    max-width: 20px;
}

.social_btn_wrap img {
    border-radius: 10px;
}

.sml {
    font-size: 1.25rem;
}

.out {
    background: var(--mainColor);
    transition: all 0.5s;
}

.out a {
    color: #fff;
    font-size: 1.1rem;
}

.out:hover {
    filter: brightness(0.7);
}

.lk {
    border-radius: 0;
}

.lk:hover {
    border-radius: 20px;
}

.buttons-set {
    margin-bottom: 15px;
}

.modal-title {
    font-size: 18px;
}

.log_iso {
    padding: 7px 0;
    margin-bottom: 16px;
}

.log_iso span {
    font-size: 16px;
    color: var(--mainColor);
    padding: 1px 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #ffffff;
    z-index: 1;
    background: #fff;
}

.log_iso:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #fff;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 21px;
}

.social-login--google,
.social-login--facebook {
    margin: auto;
}

.btn-close.close {
    float: none;
    font-size: 14px;
    border: 1px solid #ccc;
    height: 40px;
    width: 55px;
}

.form-control:focus {
    border-color: var(--mainColor);
    box-shadow: none;
}

.bn_res {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.position-absolute.center {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 0;
}

.btn-big {
    font-size: 20px;
}

.sum_mb {
    float: right;
    color: red;
}

h2.title-head {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.title_order,
.name_acc {
    color: var(--mainColor);
}

.name_acc {
    word-break: break-word;
}

@media (max-width: 767px) {
    .head-title .order_date {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
}

.pagination li {
    border-color: transparent;
}

.pagination li .page-link {
    min-width: 38px;
    color: var(--mainColor) !important;
    transition: all 0.3s ease;
}

.pagination li .page-link:hover {
    background: var(--mainColor);
    border-color: var(--mainColor);
    color: #fff !important;
}

.pagination li .page-link:focus {
    box-shadow: 0 0 0 0.2rem var(--mainColor);
}

.pagination li.active .page-link {
    background: var(--mainColor);
    border-color: var(--mainColor);
    color: #fff !important;
}